header{
    background-color: rgb(41, 41, 41);
    height: 1000px;
   padding-top: 50px;
   justify-content: center;
   width: 100%;text-align: center;
}

  .hidden {
    display: none;
    
    
}

h1{
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h2{
    color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.vis{
    background-color: rgb(92, 92, 92);
    border-radius: 40px;
    width: 1500px;
    height: 170px;
margin-left: 200px;


}
#myText{font-size: 20px;
    color: rgb(29, 29, 29);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}